<html>
<head>
  <title>Leaderboard</title>
  <link rel="icon" href="aq.ico" type="image/x-icon">
  <link rel="stylesheet" href="style.css">
  <style>
    table {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    th {
      border-color: #ffffff50;
      border-width: 0.5px;
      border-style: solid;
      text-align: left;
      padding: 10px; 
      color: white;
      font-size: 135%;
    }

    td {
      border-color: #ffffff50;
      border-width: 0.5px;
      border-style: solid;
      padding: 8px;
      padding-left: 10px; 
      color: white;
      text-align:left;
      font-size: 135%;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="bubbles">
      <span style="--i:11;"></span>
      <span style="--i:14;"></span>
      <span style="--i:24;"></span>
      <span style="--i:10;"></span>
      <span style="--i:14;"></span>
      <span style="--i:23;"></span>
      <span style="--i:18;"></span>
      <span style="--i:16;"></span>
      <span style="--i:19;"></span>
      <span style="--i:20;"></span>
      <span style="--i:25;"></span>
      <span style="--i:18;"></span>
      <span style="--i:21;"></span>
      <span style="--i:15;"></span>
      <span style="--i:13;"></span>
      <span style="--i:26;"></span>
      <span style="--i:17;"></span>
      <span style="--i:13;"></span>
      <span style="--i:26;"></span>
      <span style="--i:17;"></span>
      <span style="--i:13;"></span>
      <span style="--i:28;"></span>
      <span style="--i:11;"></span>
      <span style="--i:14;"></span>
      <span style="--i:24;"></span>
      <span style="--i:10;"></span>
      <span style="--i:14;"></span>
      <span style="--i:23;"></span>
      <span style="--i:18;"></span>
      <span style="--i:16;"></span>
      <span style="--i:19;"></span>
      <span style="--i:20;"></span>
      <span style="--i:25;"></span>
      <span style="--i:18;"></span>
      <span style="--i:21;"></span>
      <span style="--i:15;"></span>
      <span style="--i:13;"></span>
      <span style="--i:26;"></span>
      <span style="--i:17;"></span>
      <span style="--i:13;"></span>
      <span style="--i:26;"></span>
      <span style="--i:17;"></span>
      <span style="--i:13;"></span>
      <span style="--i:28;"></span>
    </div>
  </div>
  <nav>
    <div class="nav">
        <ul>
          <li>
            <div style="--i:4" class="line"></div>
            <a href="home.html">Home</a>
          </li>
          <!-- <li>
            <div style="--i:4" class="line"></div>
            <a href="about.html">About</a>
          </li> -->
        </ul>
    </div>
  </nav>
  <h1 style="text-align: center; color: white; margin-top: -50px;">Quizzes curated by you</h1>
  <table>
    <thead>
        <tr>
            <td>S.No.</td>
            <td>Quiz Code</td>
            <td>Responses</td>
            <td>Delete Quiz</td>
        </tr>
    </thead>
    <tbody id="myquiztb">
    </tbody>
  </table>
</body>
<script src="func.js"></script>
<script src="delete.js"></script>
</html>