<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="bubcontainer">
        <div class="bubbles">
            <span style="--i:11;"></span>
            <span style="--i:14;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>
            <span style="--i:11;"></span>
            <span style="--i:14;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>
        </div>
    </div>
    <nav>
        <div class="nav">
            <ul>
                <li>
                    <div style="--i:3.7" class="line"></div>
                    <a href="home.html">Home</a>
                </li>
                <!-- <li>
                    <div style="--i:6.2" class="line"></div>
                    <a href="myquizzes.html">My Quizzes</a>
                </li> -->
            </ul>
        </div>
    </nav>
    <h1 style="color: white; margin-top: -20px; text-align: center;">Select what you wanna do</h1>
    <div class="login">
        <div class="bg">
            <div class="box">
                <input type="text" name="code" id="codeIP" placeholder="Enter quiz code">
                <button type="submit" id="qc" class="btn" style="margin: 20px;">Lesgooo</button>
                <br><br><br>
                <button id="myoq" class="btn" style="margin: 20px">Make your own quiz</button>
                <button id="try" class="btn" style="margin: 20px; width: 300px">Try our pre-designed quiz</button>
            </div>
        </div>
    </div>
</body>
<script src="func.js"></script>