<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 5-10</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="aq.ico" type="image/x-icon">
</head>
<body>
    <div class="bubcontainer">
        <div class="bubbles">
            <span style="--i:11;"></span>
            <span style="--i:14;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>
            <span style="--i:11;"></span>
            <span style="--i:14;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>
        </div>
    </div>
    <nav>
        <div class="nav">
            <ul>
                <li>
                    <div style="--i:4" class="line"></div>
                    <a href="home.html">Home</a>
                </li>
                <!-- <li>
                    <div style="--i:4" class="line"></div>
                    <a href="about.html">About</a>
                </li> -->
                <!-- <li>
                    <div style="--i:7.5" class="line"></div>
                    <a href="leader()" >Leaderboard</a>
                </li> -->
            </ul>
        </div>
    </nav>
    <h1 id="qc"></h1>
    <div class="bg">
        <div class="box" id="viewquiz">
            <div id="beforesub" style="display: block">
                <div class="quiz-header">
                    <h1 id="qnoview"></h1>
                    <h2 id="question">Question text</h2>
                    <ul>
                        <li>
                            <!-- <input type="radio" id="a" name="answer" class="answer" /> -->
                            a: <label id="a_text" for="a">Question</label>
                        </li>
                        <li>
                            <!-- <input type="radio" id="b" name="answer" class="answer" /> -->
                            b: <label id="b_text" for="b">Question</label>
                        </li>
                        <li>
                            <!-- <input type="radio" id="c" name="answer" class="answer" /> -->
                            c: <label id="c_text" for="c">Question</label>
                        </li>
                        <li>
                            <!-- <input type="radio" id="d" name="answer" class="answer" /> -->
                            d: <label id="d_text" for="d">Question</label>
                        </li>
                        <li>
                            Answer: <label id="ans"></label>
                        </li>
                    </ul>
                </div>
                <button class="btn" id="submit">Next</button>
            </div>
            <!-- <div id="aftersub" class="aftersub" style="display: none">
                <h2 style="margin-top: 150px"><h2 id="res"></h2><br><br>
                    <div class="selbuts">    
                        <button id="review" class="btn">Review</button>
                        <a href="selopt.html">
                            <button class="btn">Play again</button>
                        </a>
                        <button id="leaderboard" class="btn">Leaderboard</button>
                    </div>
                </h2>
            </div> -->
        </div>
    </div>
    
    <div class="qnav">
    </div>
</body>
<script src="func.js"></script>
<script src="myquizzes.html"></script>
</html>